.container {
  width: 100%;
  height: 10rem;
  border: 2px solid var(--color-secondary);
  position: relative;
  overflow: hidden;
}

.ball {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--color-primary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  will-change: transform;
}
