.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 5rem;
  width: 100%;
  background-color: var(--color-bg);
  z-index: 1000;
  top: 0;
  box-shadow: var(--shadow-md);
  .title {
    cursor: pointer;
    img {
      width: 32px;
      height: 32px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .ocuppy {
    flex-grow: 1;
  }
  .firstNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    .default {
    }
    .active {
      color: var(--color-success);
    }
    .gitHub {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      border-radius: 9999px;
      background-color: var(--color-bg);
      color: var(--color-text);
      &:hover {
        background-color: var(--color-bg-hover);
        box-shadow: var(--shadow-lg);
        cursor: pointer;
      }
    }
  }
}

.sidebar {
  margin-top: 1rem;
  position: fixed;
  width: 10rem;
  height: 100%;
  background-color: var(--color-bg);
  padding: 1rem;
  border-right: 1px solid var(--color-border);
  .sideItem {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .active {
    color: var(--color-success);
  }
}

.main {
  display: flex;
  /*   justify-content: center;
  align-items: flex-start; */
  padding: 1rem 0rem 0rem 0rem;
  margin-top: 5rem;
  margin-left: 10rem;
  .route {
    background-color: var(--color-bg);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-md);
    margin-left: 1rem;
    flex-grow: 1;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-bg);
}
