.left {
  float: left;
  background-color: var(--color-bg-secondary);
  height: 10rem;
  aspect-ratio: 1 / 1;
}
.right {
  float: right;
  background-color: var(--color-bg-secondary);
  height: 10rem;
  aspect-ratio: 1 / 1;
}